@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Lato;
}

.main {
  width: 100%;
  background: url("../img/BG-Header.png") 0 0/cover no-repeat;
  background-size: 100% .main __items;
}
.main__logo {
  padding-top: 165px;
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__text {
  padding-bottom: 50px;
  color: #ffffff;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5.43px;
  position: relative;
}
.main__text span {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
  text-transform: lowercase;
}
.main__text:after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: #fff;
  margin: 0px 0px 0px -45px;
}
.main__button {
  padding-bottom: 50px;
  text-align: center;
  padding: 16px 0px;
  margin: 225px auto 75px auto;
  width: 185px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  border: 1px solid #fff;
}
.main__button:hover {
  color: #b9ae89;
  border: 1px solid #b9ae89;
  transition: 0.5s;
  cursor: pointer;
}
.main__point {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
}
.header__box {
  max-width: 823px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.header__element {
  flex: 0 0 25%;
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.header__element:hover {
  color: #b9ae89;
  transition: 0.5s;
  cursor: pointer;
}

.about {
  background-color: #ffffff;
}
.about__body {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin-top: 130px;
  margin-bottom: 65px;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
  margin: 0px auto;
}
.about__row {
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}
.title:after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -45px;
}

.item-about {
  margin-bottom: 95px;
}
.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  width: 260px;
  text-align: center;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.portfolio__body {
  background-color: #f3f3f3;
  background-size: 100%;
  padding-top: 1px;
  padding-bottom: 60px;
}
.portfolio__button {
  text-align: center;
  padding: 16px 0px;
  margin: 0px auto;
  margin-top: 60px;
  width: 185px;
  height: 50px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  border: 1px solid #000;
}
.portfolio__row {
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.portfolio__column {
  display: flex;
  flex: 0 0 50%;
  height: 250px;
  margin: 50px 40px;
}

.item-portfolio {
  width: 100%;
  margin: 0px 20px;
  height: 100%;
  background-color: #eaeaea;
}

.partners {
  width: 100%;
  height: 100%;
  max-height: 390px;
  background: url("../img/partner_back.png") 0 0/cover no-repeat;
}
.partners__body {
  max-width: 590px;
  margin: 0px auto;
  padding: 20px;
}
.partners__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.8px;
  padding: 85px 0px;
}
.partners__image {
  display: flex;
}
.partners__icons {
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
}

.contact__body {
  padding-top: 180px;
  padding-bottom: 100px;
}
.contact__block {
  padding-top: 90px;
  width: 950px;
  max-height: 400px;
  height: 400px;
  margin: 0px auto;
  display: flex;
}
.contact__form {
  width: 50%;
  height: 100%;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}
.contact__form input {
  border-top: 1px solid #000;
  margin-top: 15px;
  background-color: rgba(114, 127, 140, 0.15);
}
.contact__info {
  width: 50%;
  height: 100%;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.contact__info span {
  font-weight: 700;
}

.inp {
  width: 160px;
  height: 35px;
}
.inp:focus {
  border: 1px solid rgba(46, 107, 168, 0.28);
  box-shadow: 1px 1px 10px rgba(46, 107, 168, 0.58);
  transition: 0.7s;
}

.inp-m {
  width: 383px;
  height: 118px;
}
.inp-m:focus {
  border: 1px solid rgba(46, 107, 168, 0.28);
  box-shadow: 1px 1px 10px rgba(46, 107, 168, 0.58);
  transition: 0.7s;
}

.form-case {
  display: flex;
  margin-bottom: 60px;
}

.case-name {
  margin-right: 45px;
}

.case-email {
  margin: 0px 20px;
}

.form-sendbutton {
  color: #000000;
  text-align: right;
  margin-right: 95px;
  margin-top: 40px;
}
.form-sendbutton p {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}
.form-sendbutton:hover p {
  color: #b9ae89;
  transition: 0.5s;
}

.social {
  border: 2px solid #1e1e1e;
  border-radius: 25%;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 67px;
  padding: 8.5px 11px;
}

.social1 {
  border: 2px solid #1e1e1e;
  border-radius: 25%;
  margin-top: 20px;
  padding: 10px;
}

.footer {
  max-height: 280px;
  height: 280px;
  width: 100%;
  background-color: #3c3c3c;
}
.footer__body {
  width: 500px;
  height: 100%;
  padding-top: 1px;
  margin: 0px auto;
}
.footer__logo {
  width: 122px;
  margin: 45px auto;
}
.footer__logo:hover {
  cursor: pointer;
}
.footer__navi {
  width: 434px;
  margin: 0px auto;
}
.footer__navi p {
  color: #a4a4a4;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  padding: 0px 20px;
}
.footer__navi p:hover {
  color: #b9ae89;
  transition: 0.5s;
  cursor: pointer;
}
.footer__copyringht {
  text-align: center;
  margin-top: 35px;
}
.footer__copyringht p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
}